
<div class="container mt-5">
    <h2 class="ml mb-3"><fa-icon [icon] = "faChalkboardTeacher"></fa-icon> Kursevi</h2>
    <table class="table table-striped">
        <thead>
            <th class="border-right-0">Naziv</th>
            <th class="border-left-0" style="width: 15%;"><button class="btn btn-success" (click)="newCourse()"><fa-icon [icon]="faPlus"></fa-icon></button></th>
        </thead>
        <tbody>
            <tr *ngFor="let course of courses">
                <td (click)="updateCourse(course)" style="cursor: pointer;" class="border-right-0">{{course.name}}</td>
                <td class="border-left-0"><button (click)="deleteCourses(course)" title="Obrisi" class="btn btn-danger"><fa-icon [icon]="faTrash"></fa-icon></button></td>
            </tr>
        </tbody>
    </table>
    </div>