<div class="container mt-5">
<h2>Prijava ispita</h2>
<table class="table table-striped">
  <thead>
      <th class="border-right-0">Predmet</th>
      <th class="border-right-0 border-left-0">Vreme Odrzavanja Ispita</th>
      <th class="border-left-0">
        Prijava Ispita
      </th>
  </thead>
  <tbody>
      <tr *ngFor="let exam of exams">
          <td class="border-right-0 border-left-0">{{exam.course?.name}}</td>
          <td class="border-right-0 border-left-0">{{exam.date | date:'dd/MM/yyyy HH:mm'}}</td>
          <td class="border-left-0">
            <button (click) = 'add(exam)' class="btn btn-primary" type="button" ><fa-icon [icon] ="faCheck"></fa-icon></button>
          </td>
      </tr>
  </tbody>
</table>
  </div>