
<div class="container">
    <form>
        <div class="form group">
            <label for="cardNumber">Index</label>
            <input type="text" name="cardNumber" class="form-control" [(ngModel)]="student.cardNumber" [ngModelOptions]="{standalone: true}" disabled>
        </div>
        <div class="form group">
            <label for="firstName">Ime </label>
            <input type="text" name="firstName" class="form-control" [(ngModel)]="student.firstName" [ngModelOptions]="{standalone: true}" disabled>
        </div>
        <div class="form group">
            <label for="lastName">Prezime</label>
            <input type="text" name="lastName" class="form-control" [(ngModel)]="student.lastName" [ngModelOptions]="{standalone: true}" disabled>
        </div>
        <!-- <br>
        <div>
            <div>
                <h3>Vasi kursevi</h3>
            </div>
            <table class="table table-bordered">
              <tr *ngFor="let course of courses">
                <td>
            {{course.name}}
                </td>
            </tr>
            </table>
        </div>  -->
    </form>
</div>