<div id="wrapper">
  <a id="startPage" style="z-index: 99;" class="navbar-brand" *ngIf="jwt !== null" (click)="logout()" href="#">Logout <i
    class="fas fa-sign-out-alt"></i></a>
  <div style="border-style: none none outset none; background-color: cornflowerblue; position: sticky; top: 0; width: 100%; opacity: 0.8;">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <div  class="nav">
        <li *ngIf="role==='ADMIN'" class="nav-item active">
          <a class="nav-link" [routerLink]="['/students']"><fa-icon [icon] = "faUserGraduate"></fa-icon> Studenti</a>
        </li>
        <li *ngIf="role==='ADMIN'" class="nav-item">
          <a class="nav-link" [routerLink]="['/courses']"><fa-icon [icon] = "faChalkboardTeacher"></fa-icon> Kursevi</a>
        </li>
        <li *ngIf="role==='ADMIN'" class="nav-item">
          <a class="nav-link" [routerLink]="['/teachers']"><fa-icon [icon] = "faUsers"></fa-icon> Profesori</a>
        </li>
        <li *ngIf="role==='ADMIN'" class="nav-item">
          <a class="nav-link" [routerLink]="['/exam-period']"><fa-icon [icon] = "faCalendarAlt"></fa-icon> Ispitni Rokovi</a>
        </li>
        <li *ngIf="role==='ADMIN'" class="nav-item">
          <a class="nav-link" [routerLink]="['/documents']"><fa-icon [icon] = "faFileAlt"></fa-icon> Dokumenta</a>
        </li>
        <li *ngIf="role==='ADMIN'" class="nav-item">
          <a class="nav-link" [routerLink]="['/payments']"><fa-icon [icon] = "faMoneyBillWaveAlt"></fa-icon> Uplate</a>
        </li>
        <li *ngIf="role==='ADMIN'" class="nav-item">
          <a class="nav-link" [routerLink]="['/exams']"><fa-icon [icon] = "faGraduationCap"></fa-icon> Ispiti</a>
        </li>
        <li *ngIf="role==='ADMIN'" class="nav-item">
          <a class="nav-link" [routerLink]="['/register-admin']"><fa-icon [icon] = "faUserPlus"></fa-icon> Kreiraj Admina</a>
        </li>
        <li *ngIf="role==='NASTAVNIK'" class="nav-item">
          <a class="nav-link" [routerLink]="['/teacher-page']"><fa-icon [icon] = "faHome"></fa-icon> Home</a>
        </li>
        <li *ngIf="role==='STUDENT'" class="nav-item">
          <a class="nav-link" [routerLink]="['/student-page']"><fa-icon [icon] = "faHome"></fa-icon> Home</a>
        </li>
      </div>
    </nav>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>

</div>