<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <h3>Prijava</h3>
      </div>
  
      <!-- Login Form -->
        <div class="form group">
          <input type="text" id="username" class="fadeIn second" name="username" placeholder="Korisnicko ime" [(ngModel)]="login.username">
        </div>
        <div class="form group">
          <input type="password" id="password" class="fadeIn third" name="password" placeholder="Lozinka" [(ngModel)]="login.password">
        </div>
        <button id="loginBtn" class="fadeIn fourth" (click)="loginProcess(login.username,login.password)">Prijava</button>

        
      <!-- Remind Passowrd -->
      <!-- <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div> -->
  
    </div>
  </div>