<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <h3>Prijava</h3>
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="username" class="fadeIn second" name="login" placeholder="Korisnicko ime" >
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Lozinka" >
        <input type="submit"  class="fadeIn fourth" value="Prijava">
      </form>
  
      <!-- Remind Passowrd -->
      <!-- <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div> -->
  
    </div>
  </div>