<div>
    <h3>Add new Admin</h3>
  </div>
  <div>

    <div class="form group">
        <label for="username">Korisnicko ime</label>
        <input type="text" name="username" class="form-control" [(ngModel)]="login.username">
    </div>
  
    <div class="form group">
        <label for="password">Lozinka</label>
        <input type="text" name="password" class="form-control" [(ngModel)]="login.password">
    </div>
  
  
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="registerAdmin()">OK</button>
    <button class="btn btn-primary" (click)="goBack()">Cancel</button>
  </div> 
