<div>
    <h3>Add new Document</h3>
  </div>
  <div>

    <div class="form group">
        <label for="naziv">Naziv</label>
        <input type="text" name="naziv" class="form-control" [(ngModel)]="documents.naziv">
    </div>
  
      <div class="form-group">
        <label for="student">Student</label>
        <select class="form-control" [(ngModel)]="documents.student">
              <option *ngFor="let s of students" [ngValue]="s">{{s.firstName}} {{s.lastName}} {{s.cardNumber}}</option>
            </select>
      </div>
  
  
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" (click)="add()">OK</button>
    <button class="btn btn-primary" type="button" (click)="goBack()">Cancel</button>
  </div> 
