<div class="container  mt-5">
    <h2 class="ml mb-3"><fa-icon [icon]="faFileAlt"></fa-icon> Dokumenta</h2>
    <table class="table table-striped">
        <thead>
            <th class="border-right-0">Naziv</th>
            <th class="border-right-0 border-left-0">Ime i Prezime Studenta</th>
            <th class="border-left-0" style="width: 15%;"><button class="btn btn-success" (click)="newDocument()">
                    <fa-icon [icon]="faPlus"></fa-icon>
                </button></th>
        </thead>
        <tbody>
            <tr *ngFor="let document of documents">
                <td class="border-right-0">{{document.naziv}}</td>
                <td class="border-right-0 border-left-0">{{document.student?.firstName + ' ' +
                    document.student?.lastName}}</td>
                <td class="border-left-0"><button (click)="deleteDocument(document)" class="btn btn-danger">
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </button></td>

            </tr>
        </tbody>
    </table>

</div>