<div class="container">

    <form (ngSubmit)="processForm()">
        <div class="form group">
            <label for="name">Naziv</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="course.name">
        </div>
        <input type="submit" value="save" class="btn btn-success">
    </form>
    <div *ngIf="course.id">
        <div>
          <h3>Students</h3>
          <button type="button" class="btn btn-primary" aria-label="Add" (click)="gotoAddEnrollment()" >
            Dodaj
          </button>
        </div>
        <table class="table table-bordered">
          <tr *ngFor="let enrollment of enrollments">
            <td>
              {{enrollment.student.firstName}} {{enrollment.student.lastName}} {{enrollment.student.cardNumber}}
               [Since {{enrollment.startDate | date: 'dd/MM/yyyy'}} until {{enrollment.endDate | date: 'dd/MM/yyyy'}}]
            </td>
            <td>
              <button type="button" class="btn btn-primary right" aria-label="Delete" (click)="deleteEnrollment(enrollment.id)">
                Obrisi
              </button>
            </td>
          </tr>
        </table>   
      </div>
</div>