
<div class="container">
        <form (ngSubmit)="processForm()">
            <div class="form group">
                <label for="cardNumber">Ime</label>
                <input type="text" name="firstName" class="form-control" [(ngModel)]="teacher.firstName" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form group">
                <label for="firstName">Prezime</label>
                <input type="text" name="fname" class="form-control" [(ngModel)]="teacher.lastName" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form group">
                <label for="teacherRank">Uloga</label>
                <select class="form-control" [(ngModel)]="teacher.teacherRank" (change)="onChange($event)" [ngModelOptions]="{standalone: true}">
                    <option [value]="1">Profesor</option>
                    <option [value]="2">Asistent</option>
                    <option [value]="3">Demonstrator</option>
                  </select>
            </div>
            <br>
            <div>
                <div>
                    <h3>Predmeti od nastavnika</h3>
                </div>
                <table class="table table-bordered">
                  <tr *ngFor="let course of courses">
                    <td>
                {{course.name}}
                    </td>
                    <td><button type="button" class="btn btn-danger" aria-label="Delete" (click)="deleteCourse(course.id)">
                    Obrisi</button></td>
                </tr>
                </table>
            </div> 
            <input type="submit" value="save" class="btn btn-success">
        </form>
    </div>
    