<div class="container">
    <form (ngSubmit)="processForm()">
        <div class="form group">
            <label for="name">Naziv ispitnog roka</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="examperiod.name">

            <div class="form-group">
              <label for="name">Pocetak ispitnog roka</label>
                <div class="input-group">
                  <input type="date" class="form-control" placeholder="yyyy-mm-dd" name="dp1" [(ngModel)]="ngbStartDate" 
                    ngbDatepicker #d1="ngbDatepicker">
                </div>
              </div>

              <div class="form-group">
                <label for="name">Pocetak ispitnog roka</label>
                <div class="input-group">
                  <input type="date" class="form-control" placeholder="yyyy-mm-dd" name="dp2" [(ngModel)]="ngbEndDate" 
                    ngbDatepicker #d2="ngbDatepicker">
                </div>
              </div>
        </div>
        <input type="submit" value="save" class="btn btn-success">
    </form>
    <!-- <div *ngIf="exam.id">
        <div>
          <h3>Exams</h3>
          <button type="button" class="btn btn-primary" aria-label="Add" (click)="gotoAddEnrollment()" >
            Dodaj
          </button>
        </div>
        <table class="table table-bordered">
          <tr *ngFor="let enrollment of enrollments">
            <td>
              {{enrollment.student.firstName}} {{enrollment.student.lastName}} {{enrollment.student.cardNumber}}
               [Since {{enrollment.startDate | date: 'dd.MM.yyyy'}} until {{enrollment.endDate | date: 'dd.MM.yyyy'}}]
            </td>
            <td>
              <button type="button" class="btn btn-primary right" aria-label="Delete" (click)="deleteEnrollment(enrollment.id)">
                Obrisi
              </button>
            </td>
          </tr>
        </table>   
      </div> -->
</div>